

.about{
    color: #4c4c4c;    
    text-align: center;
    box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
    background-image: linear-gradient(-43deg, rgba(1, 1, 1, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
}

.about .wrapper{
    padding: 50px 0 35px 0;
}

.about .content{
    grid-column-start: 2; 
    grid-column-end: 6; 
    margin: 0 -20px;     
}

.about h3{
    color: #cc9900;   
}

.about .content img{
    margin-left: 75px;
}

.about .dish{
    grid-column-start: 6; 
    grid-column-end: 13;   
}