

.ingredients{
    background-image: url("../img/backgrounds/ingredients.png");
    background-size: cover;        
    text-align: center;
    text-justify: auto;
}

.ingredients .wrapper{
    padding: 100px 0;
}

.ingredients .content{
    margin-left: 20px;
    padding: 75px;
    grid-column-start: 7; 
    grid-column-end: 13;    
    text-align: center;
    background-color: rgba(0, 0, 0, 0.33);
}

.ingredients .content img{
    margin-top: 40px;
}