body{
    padding: 0;
    margin: 0;
    color: #ffffff;    
    min-width: 1600px;
}

h1{
    font-size: 90px;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: transparent;
    position: absolute;
    top: 0;
}

footer{
    background-color: black;
}

.pattern{
    background-image: url("../img/backgrounds/pattern.png");
    background-repeat: repeat;    
}

.wrapper{
    width: 1170px;
    max-width: 1170px;
    box-sizing: border-box;
    margin: 0 auto; 
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);   
    align-items: center;          
}


.big-divider{
    height: 45px;
    display: block;
    background-image: url("../img/backgrounds/big-divider.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.dark-divider{
    height: 24px;
    display: block;
    background-image: url("../img/backgrounds/dark-divider.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.light-divider{
    height: 24px;
    display: block;
    background-image: url("../img/backgrounds/light-divider.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

header, footer, section {
    width: 100%;
}

header nav .wrapper{       
    padding-left: 0px;      
}

header nav .container{ 
    grid-template-columns: 1fr 710px 80px;    
    grid-auto-rows: minmax(160px, auto);      
}

header nav a, header nav a:hover{
    text-decoration: none;
    color: #ffffff;
}

header nav .logo{
    font-family: "Yeseva One";
    font-size: 46px;              
    text-transform: uppercase;
}  

header nav .logo a{
    margin-left: -35px;
}

header nav .inner-links{
    font-family: "Gentium Book Basic";
    font-weight: bold;
    font-size: 21px;
    justify-self: end;                  
}

header nav .inner-links a{    
    padding: 0 20px;  
}

header nav .outer-links {
    font-size: 21px;
    justify-self: end; 
}

header nav .outer-links a{
    color: #dab33e;
}

.promo{
    background-image: url("../img/backgrounds/promo.png");
    background-size: cover;
}

.promo .wrapper{
    padding: 160px 20px 145px 20px;      
}

.promo .title{    
    margin-top: 80px;
    font-size: 90px;
    font-family: "Yeseva One";    
    text-align: center;              
}

.promo .big-divider{
    margin: 35px 0;
}

.promo .inner-links{
    font-size: 0;
    text-align: center;
}

.promo .inner-links a{
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #ffffff;
    display: inline-block;    
    letter-spacing: 0;
    padding: 23px;
    min-width: 230px;
    font-size: 18px;
    font-family: Lato;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 0 15px;
}

.promo .inner-links a:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #000000;
}
.about{
    color: #4c4c4c;
    font-family: Lato;
    font-size: 16px;
    text-align: center;
    text-justify: auto;
    padding: 50px 0 35px 0;
}

.about .title{
    grid-column-start: 2; 
    grid-column-end: 6; 
    grid-row-start: 1; 
    grid-row-end: 2;
    align-self: end;
}

.about .title p{
    color: #cc9900;
    font-family: "Yeseva One";
    font-size: 36px;
    margin: 10px 0;
}

.about .text{
    grid-column-start: 2; 
    grid-column-end: 6; 
    grid-row-start: 2; 
    grid-row-end: 3;
    margin: 0 -20px;    
}

.about .cook{
    grid-column-start: 2; 
    grid-column-end: 6; 
    grid-row-start: 3; 
    grid-row-end: 4;
    align-self: start;            
}

.about .cook img{
    margin-left: 75px;
}

.about .dish{
    grid-column-start: 6; 
    grid-column-end: 13;
    grid-row-start: 1; 
    grid-row-end: 4;       
}

.ingredients{
    background-image: url("../img/backgrounds/ingredients.png");
    background-size: cover;
}

.reviews{
    background-image: url("../img/backgrounds/reviews.png");
    background-size: cover;
}
  