body{
    padding: 0;
    margin: 0;
    color: #ffffff;       
    font-family: Lato;
    font-size: 16px;    
}

.main-wrapper{
    width: 100%;
    min-width: 1600px;
    min-height: calc(100vh - 320px);    
}

h1, h2, h3, h4, h5{
    font-family: "Yeseva One";    
    padding: 0px;
    margin: 0px;
    font-weight: 400;
}

h1{   
    font-size: 90px;
}

h3{        
    font-size: 36px;
}

h4{    
    font-size: 21px;    
}

p{
    line-height: 1.6;    
    margin: 15px 0;
}

header{
    background-color: transparent;
    position: absolute;
    top: 0;
}

body > footer{
    background-color: #000000;    
    height: 320px;
    box-sizing: border-box;
}

.rhombus-pattern{
    background-image: url("../img/backgrounds/rhombus-pattern.png");
    background-repeat: repeat;   
}

.circle-pattern{
    background-image: url("../img/backgrounds/circle-pattern.png");
    background-repeat: repeat;   
}

.wrapper{
    width: 1170px;
    max-width: 1170px;
    box-sizing: border-box;
    margin: 0 auto; 
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);   
    align-items: center;          
}

.big-divider{
    height: 45px;
    display: block;
    background-image: url("../img/backgrounds/big-divider.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 35px 0;
}

.dark-divider{
    height: 24px;
    display: block;
    background-image: url("../img/backgrounds/dark-divider.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px 0;
}

.light-divider{
    height: 24px;
    display: block;
    background-image: url("../img/backgrounds/light-divider.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px 0;
}

header, footer, section {
    width: 100%;
}

header nav .wrapper{       
    padding-left: 0px;      
}

header nav .grid-container{ 
    grid-template-columns: 1fr 710px 80px;    
    grid-auto-rows: minmax(160px, auto);      
}

header nav a, header nav a:hover{
    text-decoration: none;
    color: #ffffff;
}

header nav .logo{
    font-family: "Yeseva One";
    font-size: 46px;              
    text-transform: uppercase;
}  

header nav .logo a{
    margin-left: -35px;
}

header nav .inner-links{
    font-family: "Gentium Book Basic";
    font-weight: bold;
    font-size: 21px;
    justify-self: end;                  
}

header nav .inner-links a{    
    padding: 0 20px;  
}

header nav .outer-links {
    font-size: 21px;
    justify-self: end; 
}

header nav .outer-links a{
    color: #dab33e;
}

.promo{
    background-image: url("../img/backgrounds/promo.png");
    background-size: cover;
}

.promo .wrapper{
    padding: 160px 20px 145px 20px;      
}

.promo .title{    
    margin-top: 80px;
    font-size: 90px;
    font-family: "Yeseva One";    
    text-align: center;              
}

.promo .inner-links{
    font-size: 0;
    text-align: center;
}

.promo .inner-links a{
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #ffffff;
    display: inline-block;    
    letter-spacing: 0;
    padding: 23px;
    min-width: 230px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 0 15px;
}

.promo .inner-links a:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #000000;
}

.about{
    color: #4c4c4c;    
    text-align: center;
    background-image: linear-gradient(-43deg, rgba(1, 1, 1, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
    box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
}

.about .wrapper{
    padding: 50px 0 35px 0;
}

.about .content{
    grid-column-start: 2; 
    grid-column-end: 6; 
    margin: 0 -20px;     
}

.about h3{
    color: #cc9900;   
}

.about .content img{
    margin-left: 75px;
}

.about .dish{
    grid-column-start: 6; 
    grid-column-end: 13;   
}

.ingredients{
    background-image: url("../img/backgrounds/ingredients.png");
    background-size: cover;        
    text-align: center;
    text-justify: auto;
}

.ingredients .wrapper{
    padding: 100px 0;
}

.ingredients .content{
    margin-left: 20px;
    padding: 75px;
    grid-column-start: 7; 
    grid-column-end: 13;    
    text-align: center;
    background-color: rgba(0, 0, 0, 0.33);
}

.ingredients .content img{
    margin-top: 40px;
}

.menu{
    color: #4c4c4c;    
    text-align: center;
    box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
    background-image: linear-gradient(-226deg, rgba(32, 90, 91, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
}

.menu .wrapper{
    padding: 30px 0;
}

.menu .grid-container{
    grid-template-columns: repeat(2, 1fr);   
    grid-gap: 30px;    
}

.menu h2, .menu h3{
    color: #cc9900;   
}

.menu h4{
    color: #c89f2d;   
    text-transform: capitalize;
}

.menu hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c89f2d;    
    padding: 0; 
    margin: 10px 0 0 0;
}

.menu .meal {    
    margin: 70px;
}

.menu .dish{    
    text-align: left;
}

.menu .price{
    float: right;    
}

.reviews{
    background-image: url("../img/backgrounds/reviews.png");
    background-size: cover;
}

.reviews .wrapper{
    padding: 100px 0;
}

.reviews .content{
    padding: 100px 74px 100px 35px;
    box-sizing: border-box;
    width: 770px;
    margin: 0 auto;    
    background-image: url("../img/backgrounds/reviews-content.png");
    background-size: cover;    
}

.reviews .review{
    text-align: center;
}

.reviews .review p{
    color: #dde0df;
    font-family: "Gentium Book Basic";
    font-size: 25px;
    font-weight: bold;    
    line-height: 45px;    
}

.reviews .review blockquote{
    position: relative;
    margin: 0;    
    padding: 0 40px;
}

.reviews .review blockquote:before {
    content: "“";
    color: #f2f4f4;
    font-family: Georgia;
    font-size: 96px;
    font-weight: 400;
    opacity: 0.4;
    position: absolute;
    left: 0px;    
    line-height: 0.6;
}

.reviews .review footer{
    margin-top: 45px;
    font-size: 18px;    
}

.reviews .review cite{
    font-style: normal;
}

.reservations{
    color: #4c4c4c;    
    text-align: center;
    background-image: linear-gradient(-13deg, rgba(12, 52, 53, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
    box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.05);
}

.reservations .wrapper{
    padding: 100px 0;
}

.reservations .content{
    padding: 0 70px;
    align-self: start;
}

.reservations h3{
    color: #cc9900;   
}

.reservations .grid-container{
    grid-template-columns: 1fr 1fr 2fr;   
    grid-gap: 30px;    
}

.reservations form{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: 1fr 1fr 1fr;   
    grid-gap: 30px;    
}