

.menu{
    color: #4c4c4c;    
    text-align: center;
    box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
    background-image: linear-gradient(-226deg, rgba(32, 90, 91, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
}

.menu .wrapper{
    padding: 30px 0;
}

.menu .grid-container{
    grid-template-columns: repeat(2, 1fr);   
    grid-gap: 30px;    
}

.menu h2, .menu h3{
    color: #cc9900;   
}

.menu h4{
    color: #c89f2d;   
    text-transform: capitalize;
}

.menu hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c89f2d;     
    border-image: url('../img/backgrounds/line.png') 1;   
    padding: 0; 
    margin: 10px 0;
}

.menu .meal {    
    margin: 70px;
}

.meal__dish{   
    margin-top:  35px;
    text-align: left;
    position: relative;
}

.meal__dish p{
    margin: 0;
}

.meal__dish_special{   
    border: 1px solid; 
    border-image: url('../img/backgrounds/border.png') 1;
    padding: 10px;
    margin: 25px -10px -10px -10px;
}

.meal__dish_special:after{
    position: absolute;
    content: 'Special';
    display: inline-block;
    background-image: url('../img/backgrounds/special.png');
    width: 69px;
    height: 22px;
    color: #f8fafa;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    top: -22px;
    right: -1px;
}

.dish__price{
    float: right;    
}